/* William Beukelman 11.19.21 */

body { 
	background-image: url("../images/yogamobile.png");
    color: #3F2860;
    font-family: Verdana, Arial, sans-serif;
}

header { 
	background-color: #9BC1C2; 
    background-image: none;
}

h1 { 
	text-indent: 1em;
    line-height: 400%; 
}

nav { 
     font-weight: bold; 
}

ul li{
	margin-left: 3em;
	list-style: url("../images/yogabullet.png");
}

nav ul li{
	display: block;
	list-style: none;
	margin-left: 0.5em;
}

nav ul{
	margin: 0;
	padding: 0;
}

footer { 
	background-color: #9BC1C2; 
    font-size: small;
	text-align: center;
	font-style: italic;
	padding: .5em;
}

address{
	margin-bottom: .5em;
}

.schedule{
	border-collapse: collapse;
	width: 100%;
	margin-bottom: .5em;
}

.schedule thead td{
	border: none;
}

.schedule thead{
	border: 1px solid black;
	font-weight: bold;
}

.schedule td{
	border: 1px solid black;
	text-align: center;
}

img{
	display: none;
}

/**** Tablet/Desktop ****/

@media screen and (min-width:642px) {
	body { 
		background-color: #F5F5F5;
		background-image: none;
	}
	img{
		display: block;
		width: auto;
		height: auto;
	}
	nav ul li{
		display: inline;
	}
	header { 
		background-image: url("../images/lilyheader.jpg");
		background-position: right;
		background-repeat: no-repeat;
	}

}
